USE [master]
GO
/****** Object:  Database [LKP_DB]    Script Date: 10/19/2022 6:14:47 PM ******/
CREATE DATABASE [LKP_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LKP_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\LKP_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LKP_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\LKP_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LKP_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LKP_DB]
GO
/****** Object:  Table [dbo].[Ref_Banks]    Script Date: 10/19/2022 6:14:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ref_Banks](
	[bank_name] [nvarchar](191) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[New_Sys_Value] [nvarchar](150) NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Ref_Banks_Final]    Script Date: 10/19/2022 6:14:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Ref_Banks_Final]
as 
select distinct bank_name,New_Sys_Value from Ref_Banks
GO
/****** Object:  View [dbo].[desired_PGW_JSON_Transactions_shape]    Script Date: 10/19/2022 6:14:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[desired_PGW_JSON_Transactions_shape] as 

with Desired_TRGT as (
select ROW_NUMBER() over (partition by rs.Name order by rs.id) as rn ,* from (
SELECT  a.[Id]
      ,d.Name
      ,a.[PGWMetaRequest]
      ,a.[PGWMetaResponse]
      
      ,[TransactionStatusId]
  FROM [TransactionManagement_Stage].[dbo].[OrderTransactions]  a join
 [TransactionManagement_Stage].[dbo].Orders  b on a.OrderId=b.Id 
 join [TransactionManagement_Stage].[dbo].OrderMeta c on c.id=b.OrderMetaId 
  join [TransactionManagement_Stage].[dbo].PGWTypes d on d.Id=c.PGWTypeId) rs)


  select * from (
  select * from Desired_TRGT 
  --where  PGWMetaRequest is not null and PGWMetaResponse is not null
  ) a
  --where a.rn=4
GO
/****** Object:  Table [dbo].[Banks_cowpay]    Script Date: 10/19/2022 6:14:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banks_cowpay](
	[bank_name] [nvarchar](191) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Banks_Src]    Script Date: 10/19/2022 6:14:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banks_Src](
	[id] [numeric](10, 0) NULL,
	[name] [nvarchar](150) NULL,
	[createddate] [datetime2](7) NULL,
	[updateddate] [datetime2](7) NULL,
	[deleteddate] [datetime2](7) NULL,
	[isdeleted] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChannelTypes_cowpay]    Script Date: 10/19/2022 6:14:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChannelTypes_cowpay](
	[channel] [nvarchar](14) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChannelTypes_Src]    Script Date: 10/19/2022 6:14:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChannelTypes_Src](
	[id] [numeric](5, 0) NULL,
	[name] [nvarchar](50) NULL,
	[createddate] [datetime2](7) NULL,
	[updateddate] [datetime2](7) NULL,
	[deleteddate] [datetime2](7) NULL,
	[isdeleted] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cleansing_Merchants_not_Blocked Users]    Script Date: 10/19/2022 6:14:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cleansing_Merchants_not_Blocked Users](
	[id] [smallint] NOT NULL,
	[name] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[phone] [nvarchar](50) NULL,
	[m_commercial_registry] [int] NULL,
	[m_commercial_registry_file] [nvarchar](1) NULL,
	[m_personal_id] [float] NULL,
	[m_personal_id_file] [nvarchar](1) NULL,
	[m_tax_id] [nvarchar](50) NULL,
	[m_tax_id_file] [nvarchar](1) NULL,
	[m_added_at] [float] NULL,
	[m_approved_at] [float] NULL,
 CONSTRAINT [PK_Cleansing_Merchants_not_Blocked Users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Currency_cowpay]    Script Date: 10/19/2022 6:14:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Currency_cowpay](
	[currency_code] [nvarchar](4) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CurrencyTypes_Src]    Script Date: 10/19/2022 6:14:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CurrencyTypes_Src](
	[id] [numeric](5, 0) NULL,
	[name] [nvarchar](50) NULL,
	[createddate] [datetime2](7) NULL,
	[updateddate] [datetime2](7) NULL,
	[deleteddate] [datetime2](7) NULL,
	[isdeleted] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentLinkType_SRC]    Script Date: 10/19/2022 6:14:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentLinkType_SRC](
	[id] [numeric](10, 0) NULL,
	[name] [nvarchar](max) NULL,
	[createddate] [datetime2](7) NULL,
	[updateddate] [datetime2](7) NULL,
	[deleteddate] [datetime2](7) NULL,
	[isdeleted] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentLinkTypes_cowpay]    Script Date: 10/19/2022 6:14:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentLinkTypes_cowpay](
	[payment_link_type] [nvarchar](23) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethodTypes_cowpay]    Script Date: 10/19/2022 6:14:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethodTypes_cowpay](
	[payment_method] [nvarchar](14) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethodTypes_Src]    Script Date: 10/19/2022 6:14:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethodTypes_Src](
	[id] [numeric](5, 0) NULL,
	[name] [nvarchar](50) NULL,
	[pgwtypeid] [numeric](5, 0) NULL,
	[createddate] [datetime2](7) NULL,
	[updateddate] [datetime2](7) NULL,
	[deleteddate] [datetime2](7) NULL,
	[isdeleted] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentStatusTypes_cowpay]    Script Date: 10/19/2022 6:14:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentStatusTypes_cowpay](
	[payment_status] [nvarchar](32) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentStatusTypes_Src]    Script Date: 10/19/2022 6:14:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentStatusTypes_Src](
	[id] [numeric](5, 0) NULL,
	[name] [nvarchar](50) NULL,
	[statuscode] [numeric](10, 0) NULL,
	[createddate] [datetime2](7) NULL,
	[updateddate] [datetime2](7) NULL,
	[deleteddate] [datetime2](7) NULL,
	[isdeleted] [datetime2](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PGWTypes_cowpay]    Script Date: 10/19/2022 6:14:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PGWTypes_cowpay](
	[payment_gateway] [nvarchar](5) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PGWTypes_Src]    Script Date: 10/19/2022 6:14:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PGWTypes_Src](
	[id] [numeric](5, 0) NULL,
	[name] [nvarchar](50) NULL,
	[createddate] [datetime2](7) NULL,
	[updateddate] [datetime2](7) NULL,
	[deleteddate] [datetime2](7) NULL,
	[isdeleted] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ref_ChannelTypes]    Script Date: 10/19/2022 6:14:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ref_ChannelTypes](
	[channel] [nvarchar](14) NULL,
	[New_Sys_Value] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ref_CurrencyTypes]    Script Date: 10/19/2022 6:14:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ref_CurrencyTypes](
	[currency_code] [nvarchar](4) NULL,
	[New_Sys_Value] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ref_PaymentLinkType]    Script Date: 10/19/2022 6:14:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ref_PaymentLinkType](
	[payment_link_type] [nvarchar](23) NULL,
	[New_Sys_Value] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ref_PaymentMethodTypes]    Script Date: 10/19/2022 6:14:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ref_PaymentMethodTypes](
	[payment_method] [nvarchar](14) NULL,
	[New_Sys_Value] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ref_PaymentStatusTypes]    Script Date: 10/19/2022 6:14:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ref_PaymentStatusTypes](
	[payment_status] [nvarchar](32) NULL,
	[New_Sys_Value] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ref_PGWTypes]    Script Date: 10/19/2022 6:14:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ref_PGWTypes](
	[payment_gateway] [nvarchar](5) NULL,
	[New_Sys_Value] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ref_StatusTypes]    Script Date: 10/19/2022 6:14:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ref_StatusTypes](
	[status] [nvarchar](13) NULL,
	[New_Sys_Value] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusTypes_Cowpay]    Script Date: 10/19/2022 6:14:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusTypes_Cowpay](
	[status] [nvarchar](13) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusTypes_SRC]    Script Date: 10/19/2022 6:14:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusTypes_SRC](
	[id] [numeric](5, 0) NULL,
	[name] [nvarchar](50) NULL,
	[createddate] [datetime2](7) NULL,
	[updateddate] [datetime2](7) NULL,
	[deleteddate] [datetime2](7) NULL,
	[isdeleted] [bit] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Banks_cowpay] ([bank_name], [created_at], [updated_at]) VALUES (N'Commercial International Bank ', CAST(N'2020-02-09T08:58:53.000' AS DateTime), CAST(N'2021-04-11T12:36:24.000' AS DateTime))
INSERT [dbo].[Banks_cowpay] ([bank_name], [created_at], [updated_at]) VALUES (N'qwe', CAST(N'2020-02-09T08:58:53.000' AS DateTime), CAST(N'2020-09-25T16:56:46.000' AS DateTime))
INSERT [dbo].[Banks_cowpay] ([bank_name], [created_at], [updated_at]) VALUES (N'AlAhly', CAST(N'2020-02-09T08:58:53.000' AS DateTime), CAST(N'2020-09-25T16:56:46.000' AS DateTime))
GO
INSERT [dbo].[Banks_Src] ([id], [name], [createddate], [updateddate], [deleteddate], [isdeleted]) VALUES (CAST(1 AS Numeric(10, 0)), N'Arab African International Bank', NULL, NULL, NULL, NULL)
INSERT [dbo].[Banks_Src] ([id], [name], [createddate], [updateddate], [deleteddate], [isdeleted]) VALUES (CAST(2 AS Numeric(10, 0)), N'Arab Banking Corporation', NULL, NULL, NULL, NULL)
INSERT [dbo].[Banks_Src] ([id], [name], [createddate], [updateddate], [deleteddate], [isdeleted]) VALUES (CAST(3 AS Numeric(10, 0)), N'Al Ahli Bank of Kuwait – Egypt', NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[ChannelTypes_cowpay] ([channel]) VALUES (N'')
INSERT [dbo].[ChannelTypes_cowpay] ([channel]) VALUES (N'API')
INSERT [dbo].[ChannelTypes_cowpay] ([channel]) VALUES (N'PAYMENT_LINKS')
GO
INSERT [dbo].[ChannelTypes_Src] ([id], [name], [createddate], [updateddate], [deleteddate], [isdeleted]) VALUES (CAST(1 AS Numeric(5, 0)), N'IFrame', NULL, NULL, NULL, NULL)
INSERT [dbo].[ChannelTypes_Src] ([id], [name], [createddate], [updateddate], [deleteddate], [isdeleted]) VALUES (CAST(2 AS Numeric(5, 0)), N'API', NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[Cleansing_Merchants_not_Blocked Users] ([id], [name], [email], [phone], [m_commercial_registry], [m_commercial_registry_file], [m_personal_id], [m_personal_id_file], [m_tax_id], [m_tax_id_file], [m_added_at], [m_approved_at]) VALUES (9, N'TechneSummit', N'tarek.elkady@kdgp.net', N'1098950608', 1479, NULL, 27906199781376, NULL, N'249-721-945', NULL, 43653.75, 43653.75)
INSERT [dbo].[Cleansing_Merchants_not_Blocked Users] ([id], [name], [email], [phone], [m_commercial_registry], [m_commercial_registry_file], [m_personal_id], [m_personal_id_file], [m_tax_id], [m_tax_id_file], [m_added_at], [m_approved_at]) VALUES (16, N'ikemya', N'ahmedali@qtinnovations.com', N'1125866494', 141117, NULL, 28509000957952, NULL, N'567-308-006', NULL, 43664.62890625, 43664.6328125)
INSERT [dbo].[Cleansing_Merchants_not_Blocked Users] ([id], [name], [email], [phone], [m_commercial_registry], [m_commercial_registry_file], [m_personal_id], [m_personal_id_file], [m_tax_id], [m_tax_id_file], [m_added_at], [m_approved_at]) VALUES (68, N'cowpay-test', N'hessain.almenawy@cowpay.me', N'1065627557', NULL, NULL, NULL, NULL, NULL, NULL, 43716.73828125, 43716.73828125)
GO
INSERT [dbo].[Currency_cowpay] ([currency_code]) VALUES (N'EGP')
GO
INSERT [dbo].[CurrencyTypes_Src] ([id], [name], [createddate], [updateddate], [deleteddate], [isdeleted]) VALUES (CAST(1 AS Numeric(5, 0)), N'EG', NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[PaymentLinkType_SRC] ([id], [name], [createddate], [updateddate], [deleteddate], [isdeleted]) VALUES (CAST(1 AS Numeric(10, 0)), N'OneTimePaymentLink', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), NULL, NULL, 0)
GO
INSERT [dbo].[PaymentLinkTypes_cowpay] ([payment_link_type]) VALUES (N'STANDALONE_PAYMENT_LINK')
INSERT [dbo].[PaymentLinkTypes_cowpay] ([payment_link_type]) VALUES (N'TICKET_PAYMENT_LINK')
INSERT [dbo].[PaymentLinkTypes_cowpay] ([payment_link_type]) VALUES (N'RECURRING_PAYMENT_LINK')
GO
INSERT [dbo].[PaymentMethodTypes_cowpay] ([payment_method]) VALUES (N'PAYATFAWRY')
INSERT [dbo].[PaymentMethodTypes_cowpay] ([payment_method]) VALUES (N'CASHONDELIVERY')
INSERT [dbo].[PaymentMethodTypes_cowpay] ([payment_method]) VALUES (N'CARD')
GO
INSERT [dbo].[PaymentMethodTypes_Src] ([id], [name], [pgwtypeid], [createddate], [updateddate], [deleteddate], [isdeleted]) VALUES (CAST(1 AS Numeric(5, 0)), N'CreditCard', CAST(5 AS Numeric(5, 0)), NULL, NULL, NULL, NULL)
INSERT [dbo].[PaymentMethodTypes_Src] ([id], [name], [pgwtypeid], [createddate], [updateddate], [deleteddate], [isdeleted]) VALUES (CAST(2 AS Numeric(5, 0)), N'PayAtFawry', CAST(1 AS Numeric(5, 0)), NULL, NULL, NULL, NULL)
INSERT [dbo].[PaymentMethodTypes_Src] ([id], [name], [pgwtypeid], [createddate], [updateddate], [deleteddate], [isdeleted]) VALUES (CAST(3 AS Numeric(5, 0)), N'FawryB2B', CAST(1 AS Numeric(5, 0)), NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[PaymentStatusTypes_cowpay] ([payment_status]) VALUES (N'ARRIVED_AT_CUSTOMER')
INSERT [dbo].[PaymentStatusTypes_cowpay] ([payment_status]) VALUES (N'DELIVERED')
INSERT [dbo].[PaymentStatusTypes_cowpay] ([payment_status]) VALUES (N'EXPIRED')
GO
INSERT [dbo].[PaymentStatusTypes_Src] ([id], [name], [statuscode], [createddate], [updateddate], [deleteddate], [isdeleted]) VALUES (CAST(1 AS Numeric(5, 0)), N'Pending', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[PaymentStatusTypes_Src] ([id], [name], [statuscode], [createddate], [updateddate], [deleteddate], [isdeleted]) VALUES (CAST(2 AS Numeric(5, 0)), N'Paid', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[PaymentStatusTypes_Src] ([id], [name], [statuscode], [createddate], [updateddate], [deleteddate], [isdeleted]) VALUES (CAST(3 AS Numeric(5, 0)), N'Unpaid', NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[PGWTypes_cowpay] ([payment_gateway]) VALUES (N'FAWRY')
INSERT [dbo].[PGWTypes_cowpay] ([payment_gateway]) VALUES (N'BOSTA')
INSERT [dbo].[PGWTypes_cowpay] ([payment_gateway]) VALUES (N'DIXI')
GO
INSERT [dbo].[PGWTypes_Src] ([id], [name], [createddate], [updateddate], [deleteddate], [isdeleted]) VALUES (CAST(1 AS Numeric(5, 0)), N'Fawry', NULL, NULL, NULL, NULL)
INSERT [dbo].[PGWTypes_Src] ([id], [name], [createddate], [updateddate], [deleteddate], [isdeleted]) VALUES (CAST(2 AS Numeric(5, 0)), N'Meeza', NULL, NULL, NULL, NULL)
INSERT [dbo].[PGWTypes_Src] ([id], [name], [createddate], [updateddate], [deleteddate], [isdeleted]) VALUES (CAST(3 AS Numeric(5, 0)), N'Bosta', NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[Ref_Banks] ([bank_name], [created_at], [updated_at], [New_Sys_Value]) VALUES (N'Commercial International Bank ', CAST(N'2020-02-09T08:58:53.000' AS DateTime), CAST(N'2021-04-11T12:36:24.000' AS DateTime), N'17')
INSERT [dbo].[Ref_Banks] ([bank_name], [created_at], [updated_at], [New_Sys_Value]) VALUES (N'qwe', CAST(N'2020-02-09T08:58:53.000' AS DateTime), CAST(N'2020-09-25T16:56:46.000' AS DateTime), N'30')
INSERT [dbo].[Ref_Banks] ([bank_name], [created_at], [updated_at], [New_Sys_Value]) VALUES (N'AlAhly', CAST(N'2020-02-09T08:58:53.000' AS DateTime), CAST(N'2020-09-25T16:56:46.000' AS DateTime), N'9')
GO
INSERT [dbo].[Ref_ChannelTypes] ([channel], [New_Sys_Value]) VALUES (N'', N'1')
INSERT [dbo].[Ref_ChannelTypes] ([channel], [New_Sys_Value]) VALUES (N'API', N'2')
INSERT [dbo].[Ref_ChannelTypes] ([channel], [New_Sys_Value]) VALUES (N'PAYMENT_LINKS', N'1')
GO
INSERT [dbo].[Ref_CurrencyTypes] ([currency_code], [New_Sys_Value]) VALUES (N'EGP', N'1')
GO
INSERT [dbo].[Ref_PaymentLinkType] ([payment_link_type], [New_Sys_Value]) VALUES (N'STANDALONE_PAYMENT_LINK', N'1')
INSERT [dbo].[Ref_PaymentLinkType] ([payment_link_type], [New_Sys_Value]) VALUES (N'TICKET_PAYMENT_LINK', NULL)
INSERT [dbo].[Ref_PaymentLinkType] ([payment_link_type], [New_Sys_Value]) VALUES (N'RECURRING_PAYMENT_LINK', NULL)
GO
INSERT [dbo].[Ref_PaymentMethodTypes] ([payment_method], [New_Sys_Value]) VALUES (N'PAYATFAWRY', N'2')
INSERT [dbo].[Ref_PaymentMethodTypes] ([payment_method], [New_Sys_Value]) VALUES (N'CASHONDELIVERY', N'6')
INSERT [dbo].[Ref_PaymentMethodTypes] ([payment_method], [New_Sys_Value]) VALUES (N'CARD', N'1')
GO
INSERT [dbo].[Ref_PaymentStatusTypes] ([payment_status], [New_Sys_Value]) VALUES (N'ARRIVED_AT_CUSTOMER', N'3')
INSERT [dbo].[Ref_PaymentStatusTypes] ([payment_status], [New_Sys_Value]) VALUES (N'DELIVERED', N'2')
INSERT [dbo].[Ref_PaymentStatusTypes] ([payment_status], [New_Sys_Value]) VALUES (N'EXPIRED', N'4')
GO
INSERT [dbo].[Ref_PGWTypes] ([payment_gateway], [New_Sys_Value]) VALUES (N'FAWRY', N'1')
INSERT [dbo].[Ref_PGWTypes] ([payment_gateway], [New_Sys_Value]) VALUES (N'BOSTA', N'3')
INSERT [dbo].[Ref_PGWTypes] ([payment_gateway], [New_Sys_Value]) VALUES (N'DIXI', N'5')
GO
INSERT [dbo].[Ref_StatusTypes] ([status], [New_Sys_Value]) VALUES (N'APPROVED', N'2')
INSERT [dbo].[Ref_StatusTypes] ([status], [New_Sys_Value]) VALUES (N'CANCELLED', N'3')
INSERT [dbo].[Ref_StatusTypes] ([status], [New_Sys_Value]) VALUES (N'NEED_APPROVAL', N'1')
GO
INSERT [dbo].[StatusTypes_Cowpay] ([status]) VALUES (N'APPROVED')
INSERT [dbo].[StatusTypes_Cowpay] ([status]) VALUES (N'CANCELLED')
INSERT [dbo].[StatusTypes_Cowpay] ([status]) VALUES (N'NEED_APPROVAL')
GO
INSERT [dbo].[StatusTypes_SRC] ([id], [name], [createddate], [updateddate], [deleteddate], [isdeleted]) VALUES (CAST(1 AS Numeric(5, 0)), N'Pending', NULL, NULL, NULL, NULL)
INSERT [dbo].[StatusTypes_SRC] ([id], [name], [createddate], [updateddate], [deleteddate], [isdeleted]) VALUES (CAST(2 AS Numeric(5, 0)), N'Approved', NULL, NULL, NULL, NULL)
INSERT [dbo].[StatusTypes_SRC] ([id], [name], [createddate], [updateddate], [deleteddate], [isdeleted]) VALUES (CAST(3 AS Numeric(5, 0)), N'Decline', NULL, NULL, NULL, NULL)
GO
USE [master]
GO
